@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/* ШАПКА*/
.top {
  background: #E1FF8F;
  background-image: url(img/star1.png), url(img/star2.png), url(img/starbig.svg);
  background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px), 230% -330px;
  background-repeat: no-repeat;
  height: 710px;
}
.top__title {
  color: #202027;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 769px;
  max-height: 358px;
  padding-top: 196px;
}
.top__text {
  color: #202027;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  max-width: 720px;
}
.top__text-weight {
  color: #202027;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.top__link {
  display: inline-block;
  width: 247px;
  height: 50px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 187px;
  font-family: "Montserrat";
  cursor: pointer;
  padding-top: 16px;
}
.top__link:hover {
  background: #FFF;
  color: #000;
}

/*Полоса прокрутки*/
.scrollbar {
  width: 3220px;
  height: 90px;
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  flex-wrap: wrap;
  max-height: 87px;
}
.scrollbar__text {
  font-family: "Montserrat";
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 51px;
  padding-left: 51px;
}
.scrollbar-mob {
  display: none;
}

/*Об играх*/
.games {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #202027;
  height: 1470px;
  background-image: url(img/blackStar-big.svg), url(img/blackStar-middle1.svg), url(img/blackStar-small1.svg);
  background-repeat: no-repeat;
  background-position: 1060px 127px, 40px 822px, 25px 770px;
}
.games__title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 94px;
  padding-bottom: 24px;
}
.games__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 788px;
  padding-bottom: 72px;
}
.games-img {
  max-height: 1060px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
  align-items: start;
}
.games-img__card {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.games-img__item {
  border-radius: 30px;
  height: 314px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.games-img__card_top {
  margin-top: -40px;
}
.games-img__item1 {
  background: url(img/card1.svg);
}
.games-img__item2 {
  background: url(img/card2.svg);
}
.games-img__item3 {
  background: url(img/card3.svg);
}
.games-img__item4 {
  position: absolute;
  padding-left: 65px;
  padding-top: 30px;
}
.games-img__item5 {
  background: url(img/card5.svg);
}
.games-img__item6 {
  background: url(img/card6.svg);
}
.games-img__number {
  width: 111px;
  height: 36px;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 16px;
}
.games-img__text {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  padding: 0 36px 32px;
  max-width: 372px;
}

/*Мини-игры*/
.mini-games {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #202027;
  height: 3500px;
  background-image: url(img/blackStar-middle.svg), url(img/blackStar-small.svg), url(img/blackStar-middle2.svg), url(img/blackStar-small2.svg);
  background-repeat: no-repeat;
  background-position: 1360px 130px, 1320px 93px, 1350px 3366px, 1300px 3414px;
}
.mini-games__title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 400px;
  height: 78px;
  padding-top: 46px;
  padding-bottom: 72px;
}

/*Карточки мини-игр*/
.game-cards {
  width: 1200px;
  height: 3160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.game-cards__mob {
  display: none;
}
.game-cards__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1200px;
  height: 500px;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.game-cards__item {
  border-radius: 30px;
  height: 500px;
  width: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.game-cards__item-a {
  background-image: url(img/big-card1.svg);
}
.game-cards__item2 {
  background-image: url(img/big-card2.svg);
}
.game-cards__item3 {
  background-image: url(img/big-card3.svg);
}
.game-cards__item4 {
  background-image: url(img/big-card4.svg);
}
.game-cards__item5 {
  position: absolute;
  background: none;
  margin-left: 707px;
  margin-top: 50px;
}
.game-cards__item6 {
  background-image: url(img/big-card6.svg);
}
.game-cards__item1 {
  border-radius: 30px;
  height: 500px;
  width: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 50px;
}
.game-cards__title {
  width: 505px;
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  padding-top: 48px;
  padding-left: 48px;
}
.game-cards__text {
  color: rgb(32, 32, 39);
  width: 505px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  padding-left: 48px;
}
.game-cards__link {
  display: inline-block;
  width: 247px;
  height: 50px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  cursor: pointer;
  text-align: center;
  padding-top: 16px;
  margin-top: 36px;
  margin-left: 48px;
}
.game-cards__link:hover {
  background-color: #fff;
  color: #000;
}
.game-cards__title1 {
  width: 505px;
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  padding-top: 48px;
  padding-left: 10px;
}
.game-cards__text1 {
  color: rgb(32, 32, 39);
  width: 505px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  padding-left: 10px;
}
.game-cards__link1 {
  display: inline-block;
  width: 247px;
  height: 50px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  cursor: pointer;
  text-align: center;
  padding-top: 16px;
  margin-top: 36px;
  margin-left: 10px;
}
.game-cards__link1:hover {
  background-color: #fff;
  color: #000;
}

/*Подвал*/
.footer {
  height: 150px;
  background: rgb(189, 237, 53);
}
.footer__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 61px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    width: 376px;
    height: 648.66px;
    background-image: url(img/bigStar-mob.svg), url(img/Star1-mob.svg), url(img/Star3-mob.svg), url(img/Star2-mob.svg), url(img/Star4-mob.svg);
    background-position: 215px 0px, 45px 100px, 305px 580px, 270px 560px, 95px 70px;
  }
  .top__title {
    width: 262px;
    height: 196px;
    font-size: 40px;
    line-height: 49px;
    padding-top: 147px;
    text-align: center;
    padding-left: 40px;
  }
  .top__text {
    width: 296px;
    height: 60px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-left: 20px;
  }
  .top__text-weight {
    font-size: 16px;
    line-height: 20px;
  }
  .top__link {
    width: 285px;
    height: 41px;
    font-size: 16px;
    line-height: 141.69%;
    margin-left: 25px;
    margin-top: 36px;
    padding-top: 18px;
  }
  .scrollbar {
    width: 1717.4px;
    height: 51.34px;
  }
  .scrollbar__text {
    font-size: 16px;
    line-height: 110%;
    padding-right: 27.4px;
    padding-left: 27.4px;
  }
  .scrollbar-dec {
    display: none;
  }
  .scrollbar-mob {
    display: flex;
  }
  .games {
    display: none;
    width: 376px;
    height: 3340px;
  }
  .games__title {
    width: 343px;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-top: 48.34px;
  }
  .games__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 48.61px;
    width: 343px;
  }
  .games-img {
    width: 343px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }
  .games-img__item {
    height: 285px;
  }
  .games-img__card_top {
    margin-top: 0;
  }
  .games-img__item4 {
    padding-left: 45px;
    padding-top: 20px;
  }
  .mini-games {
    height: 3740px;
  }
  .mini-games__title {
    width: 250px;
    height: 49px;
    font-size: 40px;
    line-height: 49px;
    padding-top: 48px;
    padding-bottom: 40px;
  }
  .game-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }
  .game-cards__mob {
    display: block;
  }
  .game-cards__dectop {
    display: none;
  }
  .game-cards__container {
    width: 343px;
    height: 567.63px;
  }
  .game-cards__container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 343px;
    height: 528.63px;
    background-color: #FFFFFF;
    border-radius: 30px;
  }
  .game-cards__container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 343px;
    height: 606.63px;
    background-color: #FFFFFF;
    border-radius: 30px;
  }
  .game-cards__container3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 343px;
    height: 626.63px;
    background-color: #FFFFFF;
    border-radius: 30px;
  }
  .game-cards__title {
    font-size: 32px;
    line-height: 39px;
    text-align: left;
    width: 285px;
    padding-left: 30px;
    padding-top: 29px;
  }
  .game-cards__title1 {
    font-size: 32px;
    line-height: 39px;
    text-align: left;
    width: 285px;
    padding-left: 30px;
    padding-top: 29px;
  }
  .game-cards__text {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: 285px;
    padding-left: 30px;
    padding-top: 16px;
  }
  .game-cards__text1 {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: 285px;
    padding-left: 30px;
    padding-top: 16px;
  }
  .game-cards__link {
    width: 285px;
    height: 39px;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 32px;
  }
  .game-cards__link1 {
    width: 285px;
    height: 39px;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 32px;
  }
  .game-cards__item1 {
    width: 343px;
    height: 285px;
    margin-left: 0;
  }
  .game-cards__item {
    width: 343px;
    height: 285px;
  }
  .game-cards__item5 {
    margin-left: 45px;
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */